.logo-img {
  width: 40px;
  margin-right: 5px;
}
.home-logo {
  width: 350px;
}
.my-form {
  background-image: linear-gradient(to right, #86d4f5, #009bdb);
  padding: 20px;
}
.home-bg {
  background-image: url(./images/bg.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
